body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #333;
    height: 50px;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    display: inline-block;
  }
  
  .navbar a {
    height: 100%;
    color: white;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    padding: 0 20px;
  }

  .navbar li:hover {
     background-color: rgb(13, 3, 71);
  }
  

  .container {
    width: 600px;
    margin: auto;
  }
  
  h1 {
    color: #333;
  }
  
  input, label, select {
    display: block;
  }
  
  label {
    color: #333;
  }
  
  input, select {
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    background-color: #a1d1f5;
    color: #64696d;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
  }
  
  input[type="submit"] {
     background-color: #333;
     color: white;
     height: 40px;
     border-radius: 10px;
  }
  
  input[type="submit"]:hover {
     background-color: rgb(13, 3, 71);
  }
  